# ─── DynamicWorks — Environment Variables ──────────────────────────────────
# Copia este ficheiro para .env.local e preenche os valores reais
# NUNCA faças commit do .env.local ao GitHub

# ── Deriv ────────────────────────────────────────────────────────────────────
NEXT_PUBLIC_APP_ID=127916
NEXT_PUBLIC_AFFILIATE_LINK=https://deriv.partners/rx?sidc=B479A9FF-7DC5-4C81-9632-335E7571345B&utm_campaign=dynamicworks&utm_medium=affiliate&utm_source=CU301183

# ── Firebase ─────────────────────────────────────────────────────────────────
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyB60g18v0zOmOeWaf9l3v20XubZRDHP_Xk
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=dynamicworks-angola.firebaseapp.com
NEXT_PUBLIC_FIREBASE_DATABASE_URL=https://dynamicworks-angola-default-rtdb.firebaseio.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=dynamicworks-angola
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=dynamicworks-angola.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=678170921562
NEXT_PUBLIC_FIREBASE_APP_ID=1:678170921562:web:2e9c0c2793afa8c96e2663
